/nbproject
/arrays/test.php
/arrays/testarray.php
/practice/css/bootstrap-theme.css
/practice/css/bootstrap-theme.css.map
/practice/css/bootstrap-theme.min.css
/practice/css/bootstrap.css.map
/practice/js/bootstrap.js
/practice/js/jquery-2.1.1.js
/practice/fonts
.gitignore